@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-100 font-primary;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .clip-message {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 55%,
      25% 55%,
      5% 100%,
      50% 55%,
      0% 55%
    );
  }

  .arrow-down {
    width: 0;
    height: 0;
    position: relative;
    left: 20px;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;

    border-top: 60px solid theme(colors.surface.DEFAULT);
  }

  @media (min-width: 638px) {
    .arrow-down {
      border-top: 100px solid theme(colors.surface.DEFAULT);
    }
  }
}

@layer components {
  .input-default {
    @apply p-1  text-text-primary border-b-2 border-orange  outline-none w-full;
  }

  .input-default:focus {
    @apply border-purple;
  }
}
